*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {

    background-color: #f2f2f2;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQCO5GnCKnwbmLecdpfRPvgWhw0QL9ZzHA1EEKCHW9vQ&s=10);
    background-size: cover;
    height: 400px;
    font-family: Arial, sans-serif;

}

header{
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(220, 224, 224); 
    text-shadow: 2px 2px 5px black;
    font-size: 30px;
    text-align: center;
    margin-top: 35px;
}

.contenedor {
    width: 380px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border: gray solid 2px rgb(0,0,10);
    border-color: gray;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,.65);
}

.contenedor label{
    color: azure;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 18px;
}

input {

    width: 68%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 15px;
    border-radius: 50px;
    font-size: 15px;
}

button{
    background-color:rgb(70, 122, 218) ;
    margin-top: 12px;
    margin-left: 63px;
    padding: 8px;
    border: solid 1px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    width: 200px;
    align-items: center;
}

button:hover{
    background-color:rgb(45, 45, 224);
}

p{
    font-size: 22px;
    margin-top: 25px;
    margin-left: 65px;
    text-shadow: 2px 2px 5px black;
    font-weight:bold;
    font-style: italic;
}